.openForButtonGroup {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  height: 36px;
  width: 272px;
  padding-left: 10px;
  opacity: 0.5;
  color: inherit;
  background-color: inherit;
}
